{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}


<div class="container-fluid">
        <div class="landingpage" style="height: 300px">

               
            <form>
                    <input type="text" name="news_query" placeholder="Search for a News" class="form-control bg-info">
                    <img src="https://cdn.pixabay.com/photo/2015/02/15/09/33/news-636978_960_720.jpg" height="300px" width="100%">
                    <input type="submit"  value="Submit" class="btn btn-success">
                   
                </form> 
               
             
            </div>

 <div style="height: 80px">

 </div>

<div class='container-fluid'>

        <!-- Popular news -->
        <h3 style="text-align: center"> Breaking  News</h3>
        
                <ul>
                        {{ macro.displayNewsList(popular_news)}}
                    </ul> 
        
        <!-- Upcoming news  -->
        <h3 style="text-align: center"> Headlines News </h3>
       
                <ul>
                        {{ macro.displayNewsList(entertainment)}}
                    </ul>
       
        <!-- Now showing news -->
        <h3 style="text-align: center,"> Coming next</h3>
      
        
                <ul>
                        {{ macro.displayNewsList(general)}}
                    </ul>


</div>
                </div>      
  {% endblock%}
  