{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
      
          <div class="col-xs-3 col-sm-4 col-md-3 col-lg-3 news-card">
                <div class="card" style="width: 18rem;">
                        <img src="{{news.urlToImage}}" class="card-img-top" alt="{{news.title}}" width="300px" height="200px">
                        <div class="card-body">
                          <h5 class="card-title">{{news.title}}</h5>
                          <p class="card-text">{{ news.description}}</p>
                          <small>{{news.author}}</small>
                          <a href="{{news.url}}" class="btn btn-primary" target="_blank">view</a>
                        </div>
                      </div>
                    
          </div>
      
          {% endfor %}
          {% macro displayReviews(review_list) %}
    {% for review in review_list %}

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 review-card">
            <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> {{ review.title}}</h5>
                      <p class="card-text">  <p> {{ review.review | truncate(30) }}</p></p>
                      
                    </div>
                  </div>
    </div>
    {% endfor %}
{% endmacro %}

{% endmacro %}
